:host{
    display: block;
    background-color: #f2f1e3;
    padding: 50px 24px 120px 24px;
}

img{
    object-fit:none;
}
.penguin{
    padding: 20px;
    max-width: 400px;
    text-align: center;
    margin: 24px auto;
}