<p>penguin-login works!</p>

<form class="login-form" #f="ngForm" (ngSubmit)="addData(f)">
    <input type="text" name="name" placeholder="Name" ngModel>
    <br>
    <input type="email" name="email" placeholder="Email" ngModel>
    <br>
    <input type="password" name="password" placeholder="Password" ngModel>
    <br>
    <button type="submit"> Login </button>
</form>

<!-- 一般的なAngularアプリケーションを作る上でいまやAsyncPipeは必ず使われるものと言っても過言ではない。
    Observable型のデータを購読し、そのスナップショットをデータバインディングするために多用される
    AsyncPipeは購読したObservableが最初の値を流す前に、必ず一度 null を返すようにできているのだ。
    もとのObservableが Observable<State> だったとしても、 AsyncPipeを通すと State | null となってしまう、
    これを「初期値null問題」と呼んでいる。
    この問題は深刻そうに思えるが、実は多くのケースで自動的に回避されている。
    それはAsyncPipeとよく併用される *ngIf と *ngFor が、AsyncPipeから返される null を無視するようになっているからだ。

    *ngIf="source$ | async as state"
    *ngFor="let item of source$ | async"
    -->
<ul>
    <li *ngFor="let data of userData |async">
        {{ data.name }} / {{ data.email }} / {{ data.random }}
        <button (click)="updateData(data.id)"> Edit</button>
        <button (click)="deleteData(data.id)"> Delete</button>
    </li>
</ul>
<!-- <br>
<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>penguin name</mat-label>
      <input  [(ngModel)]="penguinsInterface.name" matInput placeholder="エンペラーペンギン" name="penguinname">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Favorite food</mat-label>
        <mat-select [(ngModel)]="penguinsInterface.types" name="penguintype">
            <mat-option [value]="">--</mat-option>
            <mat-option *ngFor="let penguinli of penguinslist" [value]="penguinli">
                {{penguinli}}
            </mat-option>
        </mat-select>
    </mat-form-field><p> Selected food: {{penguinsInterface.types}} </p>
    <br>
    <div class="example-button">
        <button mat-raised-button color="primary" (click)="onSubmit()">Search</button>
    </div>
</form> -->
