<mat-toolbar>
  <button mat-button routerLink="/">Penguin Room</button>
  <button mat-stroked-button color="primary" routerLink="/penguin/add">Penguin add</button>
  <button mat-stroked-button color="primary" routerLink="/aquarium/add">Aquarium add</button>
  <span class="spacer"></span>
  <button mat-button routerLink="/list">Penguin list</button>
  <button mat-button routerLink="/aquarium">Aquarium list</button>
  <button mat-button routerLink="/yatzy">yatzy</button>
  <button mat-raised-button color="primary" routerLink="/login">login</button>
</mat-toolbar>
<router-outlet></router-outlet>
